In [6]:
import matplotlib.pyplot as plt
import os
import sys
import pandas as pd

# Caminho relativo ao notebook
sys.path.append(os.path.abspath("../src"))
from utils import pull_data

ModuleNotFoundError: No module named 'matplotlib'

## Pulling data from Kaggle's Titanic Competition
- You can find the data [here](https://www.kaggle.com/competitions/titanic/data)

In [2]:
pull_data()

Downloading titanic.zip to c:\code\luizhtc-kaggle-competitions\kaggle-titanic\notebooks\data

100%|██████████| 34.1k/34.1k [00:00<00:00, 20.3MB/s]

Unzipping files...
Files unzipped successfully.

In [3]:
df_train = pd.read_csv("data/train.csv").drop(columns=["Survived"])
df_test = pd.read_csv("data/test.csv")
df = pd.concat([df_train, df_test])

In [4]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C